* {
  font-family: 'Cabin';
}

.form {
  margin: 0 auto;
}

input {
  margin-right: 10px;
}

.mat-form-field {
  margin-right: 10px;
  width: 24%;
}

button {
  width: 100%;
  height: 40px;
}

h1 {
  text-align: center;
}
