* {
  font-family: 'Cabin';
}

.form {
  margin: 0 auto;
}

input {
  margin-right: 10px;
}

.mat-form-field {
  margin-right: 10px;
  /* width: 19%; */
}

button {
  width: 100%;
  height: 40px;
}

h1 {
  text-align: center;
}

textarea {
  height: 18px;
}

.todo-input {
  width: 25%;
}

.dFrom-input {
  width: 15%;
}

.dTo-input {
  width: 15%;
}

.prio-input {
  width: 12%;
}

.desc-input {
  width: 28%;
}
